
 ::ng-deep .asistencia-table {
  width: fit-content;
  max-width: 100%;
}

::ng-deep .asistencia-table table {
  border-collapse: collapse;
  width: auto !important;
  table-layout: auto;

}

:host ::ng-deep .align-to-table {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%; 
}

:host ::ng-deep .content-wrapper {
    overflow-x: auto;
    width: fit-content; 
    max-width: 100%;
}

/* Selecciona la tabla dentro del diálogo por su clase */
:host ::ng-deep .p-dialog .p-datatable-gridlines {
    width: 100% !important; 
    table-layout: fixed; 
}

:host ::ng-deep .p-dialog .p-datatable-gridlines tr th:nth-child(1) {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

/* Celda (td) de Tipo Suspensión */
:host ::ng-deep .p-dialog .p-datatable-gridlines tr td:nth-child(1) {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    overflow: hidden; 
}


:host ::ng-deep .dropdown-inasistencia .p-dropdown-panel {
    min-width: 350px !important; 
    max-width: 400px !important;
    left: auto !important; 
}

:host ::ng-deep .dropdown-inasistencia {
    width: 100% !important; 
    min-width: 100% !important;
}

:host ::ng-deep .dropdown-inasistencia .p-dropdown-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


