
:host ::ng-deep .input-dias-asistencia .p-inputtext {
    padding: 0.2rem 0.4rem !important;
    text-align: center !important; 
    font-size: 0.8rem !important; 
    line-height: 1.5 !important;  
}

:host ::ng-deep .input-dias-asistencia input {
    text-align: center !important;
}

:host ::ng-deep .input-dias-asistencia {
    display: block; 
    margin-left: auto !important;
    margin-right: auto !important;  
}

:host ::ng-deep .input-dias-asistencia .p-inputtext {
    padding: 0.2rem 0.5rem !important;
    text-align: center !important; 
    font-size: 0.8rem !important; 
}

:host ::ng-deep .dropdown-periodo-fijo {
    width: 16rem !important; 
    min-width: 16rem !important;
    max-width: 16rem !important; 
}

:host ::ng-deep .dropdown-periodo-fijo .p-dropdown {
    width: 100% !important; 
}