/* Estilo original de la tabla */
:host ::ng-deep .centrocosto-table {
    width: fit-content;
    max-width: 100%;
}

::ng-deep .centrocosto-table table {
    border-collapse: collapse;
    width: auto !important;
    table-layout: auto;
}

:host ::ng-deep .content-wrapper {
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
}

:host ::ng-deep .align-to-table {
    width: auto;
    padding-left: 1.25rem;
    padding-right: 0rem; 
}

:host ::ng-deep .aligned-content-container {
    width: fit-content; 
    max-width: 100%; 
    margin-right: auto; 
}
