<div class="concepto-detalle-container">
  <p-toast></p-toast>

  <!-- Header con breadcrumb -->
  <div class="page-header">
    <div class="breadcrumb">
      <button pButton type="button" icon="pi pi-arrow-left" class="p-button-text p-button-sm"
        (click)="volver()" pTooltip="Volver" tooltipPosition="bottom"></button>
      <span class="breadcrumb-text">Concepto Estandar</span>
      <i class="pi pi-angle-right breadcrumb-separator"></i>
      <span class="breadcrumb-text">{{ getTitulo() }}</span>
    </div>
    <div class="header-actions" *ngIf="!esModoVisualizacion">
      <button pButton type="button" label="Guardar" icon="pi pi-check"
        class="p-button-success p-button-sm" (click)="guardarConcepto()"></button>
      <button pButton type="button" label="Cancelar" icon="pi pi-times"
        class="p-button-secondary p-button-sm" (click)="volver()"></button>
    </div>
    <div class="header-actions" *ngIf="esModoVisualizacion">
      <button pButton type="button" label="Cerrar" icon="pi pi-times"
        class="p-button-secondary p-button-sm" (click)="volver()"></button>
    </div>
  </div>

  <!-- Contenido del formulario -->
  <div class="form-container">
    <div class="concepto-detalle">
      <!-- Información básica -->
      <div class="info-basica">
        <div class="form-row">
          <div class="form-group">
            <label>Codigo :</label>
            <input type="text" pInputText [(ngModel)]="conceptoActual.codigo"
              [disabled]="!isNewRecord || esModoVisualizacion" maxlength="10" />
          </div>
          <div class="form-group form-group-wide">
            <label>Descripcion :</label>
            <input type="text" pInputText [(ngModel)]="conceptoActual.descripcion"
              [disabled]="esModoVisualizacion" maxlength="150" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Tipo calculo :</label>
            <p-dropdown
              [(ngModel)]="tipoCalculoSeleccionado"
              [options]="tiposCalculo"
              optionLabel="descripcion"
              placeholder="Seleccione un tipo"
              [disabled]="esModoVisualizacion"
              (onChange)="onTipoCalculoChange($event)"
              [style]="{'width':'100%'}">
              <ng-template pTemplate="selectedItem" let-option>
                <div *ngIf="option">
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div>
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group">
            <label>Tipo :</label>
            <p-dropdown
              [(ngModel)]="conceptoTipoSeleccionado"
              [options]="conceptosTipo"
              optionLabel="descripcion"
              placeholder="Seleccione un tipo"
              [disabled]="esModoVisualizacion"
              (onChange)="onConceptoTipoChange($event)"
              [style]="{'width':'100%'}">
              <ng-template pTemplate="selectedItem" let-option>
                <div *ngIf="option">
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div>
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group">
            <label>Sub.Tipo :</label>
            <p-dropdown
              [(ngModel)]="subTipoSeleccionado"
              [options]="subTiposFiltrados"
              optionLabel="descripcion"
              placeholder="Seleccione un subtipo"
              [disabled]="esModoVisualizacion"
              (onChange)="onSubTipoChange($event)"
              [style]="{'width':'100%'}">
              <ng-template pTemplate="selectedItem" let-option>
                <div *ngIf="option">
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div>
                  <span class="dropdown-code">{{ option.codigo }}</span> - {{ option.descripcion }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.imprimible" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="imprimible"></p-checkbox>
            <label for="imprimible">Imprimible</label>
          </div>
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.configBasica" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="configBasica"></p-checkbox>
            <label for="configBasica">Config.Basica</label>
          </div>
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.formulable" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="formulable"></p-checkbox>
            <label for="formulable">Formulable</label>
          </div>
          <div class="form-group-checkbox ml-auto">
            <p-checkbox [(ngModel)]="conceptoActual.activo" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="activo"></p-checkbox>
            <label for="activo">Activo</label>
          </div>
        </div>
      </div>

      <!-- Áreas de texto -->
      <div class="text-areas">
        <div class="textarea-container">
          <textarea pInputTextarea rows="8" [disabled]="true"></textarea>
        </div>
        <div class="textarea-container">
          <textarea pInputTextarea rows="8" [disabled]="true"></textarea>
        </div>
      </div>

      <!-- Concepto Sunat y Observación -->
      <div class="sunat-observacion">
        <div class="form-group">
          <label>Concepto Sunat :</label>
          <p-dropdown
            [(ngModel)]="conceptoSunatSeleccionado"
            [options]="conceptosSunat"
            optionLabel="descripcion"
            placeholder="Seleccione un concepto"
            [disabled]="esModoVisualizacion"
            (onChange)="onConceptoSunatChange($event)"
            [style]="{'width':'100%'}"
            [filter]="true"
            filterBy="codigoSunat,descripcion">
            <ng-template pTemplate="selectedItem" let-option>
              <div *ngIf="option">
                <span class="dropdown-code">{{ option.codigoSunat }}</span> - {{ option.descripcion }}
              </div>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <div>
                <span class="dropdown-code">{{ option.codigoSunat }}</span> - {{ option.descripcion }}
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group">
          <label>Observacion</label>
          <textarea pInputTextarea rows="3" [(ngModel)]="conceptoActual.observacion"
            [disabled]="esModoVisualizacion"></textarea>
        </div>
      </div>

      <!-- Tabs section -->
      <div class="tabs-section">
        <div class="tab-panel">
          <h4>Afectaciones Sunat</h4>
          <p-table [value]="conceptoActual.afectacionesSunat" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th>Cod</th>
                <th>Descripcion</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Afectacion otros</h4>
          <p-table [value]="conceptoActual.afectacionOtros" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th>Cod</th>
                <th>Descripcion</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Plantilla asignada</h4>
          <p-table [value]="conceptoActual.planillasAsignadas" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th>Cod</th>
                <th>Descripcion</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Regimen Laboral</h4>
          <p-table [value]="conceptoActual.regimenesLaborales" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
