<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="p-1 py-5 max-h-screen">
    <p-panel header="Parámetros por Empresa" styleClass="shadow-xl rounded-xl mb-3">

      <div class="card">
          <!-- Botón Nuevo y Dropdown Filas por Página -->
          <div class="flex justify-content-between align-items-center mb-3">
              <button type="button" pButton icon="pi pi-plus" label="Nuevo Parámetro"
                      (click)="showAddRow()" [disabled]="isEditingAnyRow"
                      class="p-button-sm"></button>
          </div>

          <!-- Tabla Principal -->
          <p-table [value]="parametroxEmpresaList"
                   dataKey="pla41empresacod"
                   editMode="row"
                   [paginator]="true"
                   [rows]="rowsPerPage"
                   responsiveLayout="scroll"
                   [showCurrentPageReport]="true"
                   [rowsPerPageOptions]="[5, 10, 20, 50]"
                   [tableStyle]="{ 'min-width': '100%' }"
                   currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} parámetros"
                   styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                   class="table-parametros-empresa"
                   >
              <!-- Cabecera de Tabla -->
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 5%;">Código</th>
                      <th style="width: 15%;">Descripción</th>
                      <th style="width: 12%;">Tipo de dato</th>
                      <th style="width: 5%;">01</th>
                      <th style="width: 5%;">02</th>
                      <th style="width: 5%;">03</th>
                      <th style="width: 5%;">04</th>
                      <th style="width: 5%;">05</th>
                      <th style="width: 5%;">06</th>
                      <th style="width: 5%;">07</th>
                      <th style="width: 5%;">08</th>
                      <th style="width: 5%;">09</th>
                      <th style="width: 5%;">10</th>
                      <th style="width: 5%;">11</th>
                      <th style="width: 5%;">12</th>
                      <th style="text-align: center; width: 8%;">Acciones</th>
                  </tr>
              </ng-template>

              <!-- Cuerpo de Tabla -->
              <ng-template pTemplate="body" let-parametro let-ri="rowIndex" let-editing="editing">
                  <tr [pEditableRow]="parametro">

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla41codigo"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla41codigo}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla41descripcion"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla41descripcion}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <p-dropdown
                                      [(ngModel)]="parametro.pla41flagtipodato"
                                      [options]="[
                                          { label: 'Importe', value: 'I' },
                                          { label: 'Porcentaje', value: 'P' }
                                      ]"
                                      placeholder="Tipo de dato"
                                      optionLabel="label"
                                      optionValue="value"
                                      class="p-inputtext-sm w-full"
                                      appendTo="body">
                                  </p-dropdown>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{ getTipoDatoTexto(parametro.pla41flagtipodato) }}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4101"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4101}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4102"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4102}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4103"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4103}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4104"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4104}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4105"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4105}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4106"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4106}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4107"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4107}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4108"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4108}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4109"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4109}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4110"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4110}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4111"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4111}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td style="text-align: left;">
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="parametro.pla4112"
                                         class="p-inputtext-sm w-full" required>
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{parametro.pla4112}}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <!-- Acciones -->
                      <td>
                          <div class="flex justify-content-center gap-2">
                              <!-- Botón Editar -->
                              <button *ngIf="!editing" pButton
                                      pInitEditableRow
                                      (click)="onRowEditInit(parametro)"
                                      icon="pi pi-pencil"
                                      pTooltip="Editar"
                                      [disabled]="isNew || isEditingAnyRow"
                                      class="p-button-rounded p-button-text p-button-sm"
                                      ></button>

                              <!-- Botón Guardar -->
                              <button *ngIf="editing" pButton
                                      pSaveEditableRow
                                      (click)="onRowEditSave(parametro)"
                                      icon="pi pi-check"
                                      pTooltip="Guardar"
                                      class="p-button-rounded p-button-text p-button-sm p-button-success"></button>

                              <!-- Botón Cancelar -->
                              <button *ngIf="editing" pButton
                                      pCancelEditableRow
                                      (click)="onRowEditCancel(parametro, ri)"
                                      icon="pi pi-times"
                                      pTooltip="Cancelar"
                                      class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                              <!-- Botón Eliminar
                              Ya no es necesario pasar el índice, se puede obtener del parámetro
                              -->
                              <button *ngIf="!editing" pButton
                                      type="button"
                                      (click)="onDelete(parametro)"
                                      icon="pi pi-trash"
                                      pTooltip="Eliminar"
                                      [disabled]="isNew || isEditingAnyRow"
                                      class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                          </div>
                      </td>
                  </tr>
              </ng-template>

              <!-- Footer para Nuevo Registro -->
              <ng-template pTemplate="footer">
                  <tr *ngIf="isEditing">
                      <td colspan="16">
                          <form [formGroup]="parametroxEmpresaForm" class="grid p-fluid">

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            formControlName="pla41codigo"
                                            placeholder="Código"
                                            class="p-inputtext-sm w-full"
                                            readonly/>
                                  </span>
                              </div>

                              <div class="col-4" style="width: 15%;">
                                  <span class="w-full">
                                      <input pInputText
                                            formControlName="pla41descripcion"
                                            placeholder="Descripción del Parámetro"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-4" style="width: 12%;">
                                  <span class="w-full">
                                    <p-dropdown
                                        formControlName="pla41flagtipodato"
                                        [options]="[
                                            { label: 'Importe', value: 'I' },
                                            { label: 'Porcentaje', value: 'P' }
                                        ]"
                                        placeholder="Tipo"
                                        optionLabel="label"
                                        optionValue="value"
                                        class="p-inputtext-sm w-full"
                                        appendTo="body">
                                    </p-dropdown>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4101"
                                            placeholder="01"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4102"
                                            placeholder="02"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4103"
                                            placeholder="03"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4104"
                                            placeholder="04"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            formControlName="pla4105"
                                            placeholder="05"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4106"
                                            placeholder="06"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4107"
                                            placeholder="07"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4108"
                                            placeholder="08"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4109"
                                            placeholder="09"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4110"
                                            placeholder="10"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4111"
                                            placeholder="11"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <div class="col-2" style="width: 5%;">
                                  <span class="w-full">
                                      <input pInputText
                                            pKeyFilter="num"
                                            formControlName="pla4112"
                                            placeholder="12"
                                            class="p-inputtext-sm w-full"/>
                                  </span>
                              </div>

                              <!-- Botones de Acción -->
                              <div class="col-2" style="width: 8%;">
                                  <div class="flex gap-2 justify-content-center">

                                      <p-button icon="pi pi-check" styleClass="p-button-success p-button-sm" [text]="true"
                                              (onClick)="onSave()" pTooltip="Guardar"></p-button>
                                      <p-button icon="pi pi-times" styleClass="p-button-danger p-button-sm" [text]="true"
                                              (onClick)="onCancel()" pTooltip="Cancelar"></p-button>
                                  </div>
                              </div>
                          </form>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
    </p-panel>
</div>
