<p-table [value]="periodoslaborales.controls" dataKey="pla30codigo" editMode="row" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th>Fec. Ini</th>
      <th>Fec. Fin</th>
      <th>Motivo Des.</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-periodo let-ri="rowIndex" let-editing="editing">
    <tr [pEditableRow]="periodo">
      <!-- Fecha Inicio -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar formControlName="pla30fechaini" dateFormat="dd/mm/yy" class="w-full" [appendTo]="'body'"></p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{ periodo.get('pla30fechaini').value | date: 'dd/MM/yyyy' }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- Fecha Fin -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar formControlName="pla30fechafin" dateFormat="dd/mm/yy" class="w-full" [appendTo]="'body'"></p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{ periodo.get('pla30fechafin').value | date: 'dd/MM/yyyy' }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- Motivo Desvinculación -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText formControlName="desmotivocese" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ periodo.get('desmotivocese').value }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- Botones de acción -->
      <td>
        <div class="flex gap-2">
          <button *ngIf="!editing" pButton
                  pInitEditableRow
                  (click)="onRowEditInit(ri)"
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  [disabled]="isEditingAnyRow || esModoVisualizacion"
                  class="p-button-rounded p-button-text p-button-sm"></button>

          <button *ngIf="editing" pButton
                  pSaveEditableRow
                  (click)="onRowEditSave(ri)"
                  icon="pi pi-check"
                  pTooltip="Guardar"
                  class="p-button-rounded p-button-text p-button-sm p-button-success"></button>

          <button *ngIf="editing" pButton
                  pCancelEditableRow
                  (click)="onRowEditCancel(ri)"
                  icon="pi pi-times"
                  pTooltip="Cancelar"
                  class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
