<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-panel header="Remuneraciones" styleClass="shadow-xl rounded-xl mb-3">
  <button type="button" pButton icon="pi pi-plus" label="Nueva Remuneración"
  (click)="showAddRow()" [disabled]="isEditingAnyRow || esModoVisualizacion"
  class="p-button-sm"></button>

  <p-table [value]="remuneracionesLista" dataKey="pla05conceptocod" editMode="row" styleClass="p-datatable-sm">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%;">Concepto Cod.</th>
        <th style="width: 40%;">Concepto Desc.</th>
        <th style="width: 20%;">Importe</th>
        <th style="width: 20%; text-align: center;">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-remuneracion let-ri="rowIndex" let-editing="editing">
      <tr [pEditableRow]="remuneracion">
        <td>
          {{ remuneracion.pla05conceptocod }}
          <!-- El código no deberia ser editable en el programa de escritorio no se puede editar-->
          <!--
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex align-items-center gap-2">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="remuneracion.pla05conceptocod"
                  placeholder="Seleccionar Código"
                  readonly
                  class="w-full"
                />
                <button
                  pButton
                  icon="pi pi-search"
                  class="p-button-sm p-button-secondary"
                  (click)="abrirModalTiposConceptoCod()"
                  pTooltip="Seleccionar Código"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{ remuneracion.pla05conceptocod }}
            </ng-template>
          </p-cellEditor>
          -->
        </td>

        <td>
          {{ remuneracion.conceptodesc }}
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="text" pInputText [(ngModel)]="remuneracion.pla05importe" class="w-full" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ remuneracion.pla05importe | number:'1.2-2' }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="text-align: center;">
          <div class="flex justify-content-center gap-2">
            <button *ngIf="!editing" pButton
                      pInitEditableRow
                      (click)="onRowEditInit(remuneracion, ri)"
                      icon="pi pi-pencil"
                      pTooltip="Editar"
                      [disabled]="isEditingAnyRow || esModoVisualizacion || isNew "
                      class="p-button-rounded p-button-text p-button-sm"></button>

              <button *ngIf="editing" pButton
                      pSaveEditableRow
                      (click)="onRowEditSave(ri)"
                      icon="pi pi-check"
                      pTooltip="Guardar"
                      class="p-button-rounded p-button-text p-button-sm p-button-success"></button>

              <button *ngIf="editing" pButton
                      pCancelEditableRow
                      (click)="onRowEditCancel(remuneracion)"
                      icon="pi pi-times"
                      pTooltip="Cancelar"
                      class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

              <button *ngIf="!editing" pButton
                      type="button"
                      (click)="onDelete(remuneracion, ri)"
                      icon="pi pi-trash"
                      pTooltip="Eliminar"
                      [disabled]="isEditingAnyRow || esModoVisualizacion || isNew "
                      class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr *ngIf="isEditing">
        <td colspan="4">
          <form [formGroup]="nuevaRemuneracionForm" class="grid p-fluid">

            <div class="col-1" style="width: 20%;">
              <span class="w-full">
                <p-button
                  label="{{ nuevaRemuneracionForm.get('pla05conceptocod')?.value || 'Buscar' }}"
                  icon="pi pi-search"
                  class="p-button-sm w-full"
                  (click)="abrirModalTiposConceptoCod()"
                ></p-button>
              </span>
            </div>

            <div class="col-1" style="width: 40%;">
              <span class="w-full">
                <input
                  pInputText
                  type="text"
                  formControlName="conceptodesc"
                  class="w-full"
                  placeholder="Descripción"
                />
              </span>
            </div>

            <div class="col-1" style="width: 20%;">
              <span class="w-full">
                <input
                  pInputText
                  type="text"
                  formControlName="pla05importe"
                  class="w-full"
                  placeholder="Ingrese Importe"
                />
              </span>
            </div>

            <!-- Botones de acción -->
            <div class="col-1" style="width: 20%; text-align: center;">
              <div class="flex gap-2 justify-content-center">
                <p-button icon="pi pi-check"
                styleClass="p-button-success p-button-sm" [text]="true"
                (onClick)="onSave()" pTooltip="Guardar"></p-button>
                <p-button icon="pi pi-times"
                styleClass="p-button-danger p-button-sm" [text]="true"
                (onClick)="onCancel()" pTooltip="Cancelar"></p-button>
              </div>
            </div>

          </form>
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-panel>

<!-- Modal código -->

<p-dialog [(visible)]="mostrarModalConceptoCod" [header]="'Conceptos Básicos'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="tiposConceptoCod" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-concepto>
        <tr [pSelectableRow]="concepto" (click)="seleccionarTipoConceptoCod(concepto)" style="cursor: pointer">
          <td>{{ concepto.codigo }}</td>
          <td>{{ concepto.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarModalConceptoCod = false"></button>
    </ng-template>
</p-dialog>
