<p-toast></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <!-- Logo reemplazado por emoji -->
                    <div style="font-size: 48px; margin-bottom: 1rem;">🏦</div>
                    <div class="text-900 text-3xl font-medium mb-3">PLANILLA</div>
                </div>

                <form [formGroup]="credencialesFRM" (ngSubmit)="iniciarSesion()">
                    <label for="nombreusuario" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                    <input pInputText id="nombreusuario" formControlName="nombreusuario"
                        placeholder="Ingrese su usuario" class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="claveusuario" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                    <input pInputText id="claveusuario" type="password" formControlName="claveusuario"
                        placeholder="Ingrese su contraseña" class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="codigoempresa" class="block text-900 font-medium text-xl mb-2">Empresa</label>
                    <p-dropdown [options]="Empresa" optionLabel="nombre" optionValue="empresaCod"
                        placeholder="Seleccione la empresa" formControlName="codigoempresa"
                        (onChange)="onEmpresaChallenge($event)" class="w-full md:w-30rem mb-5"
                        [style]="{'padding': '0.5rem', 'width': '100%'}" [showClear]="true">
                    </p-dropdown>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5" style="margin-top: 10px;">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [(ngModel)]="recordarme" [ngModelOptions]="{standalone: true}"
                                [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Recordarme</label>
                        </div>
                    </div>
                    <button pButton pRipple label="Iniciar Sesión" type="submit" class="w-full p-3 text-xl"></button>
                </form>
            </div>
        </div>
    </div>
</div>