<p-panel header="PROCESAR" styleClass="shadow-xl rounded-xl py-2 header-large">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="content-wrapper">

        <!-- TOOLBAR PRINCIPAL -->
        <p-toolbar styleClass="mb-4 surface-200 border-round-lg shadow-1 align-to-table">
            <ng-template pTemplate="left">
                <div class="flex justify-center gap-3">
                    <button pButton pRipple icon="pi pi-play" (click)="procesarDatos()" pTooltip="Procesar"
                        tooltipPosition="bottom" class="p-button p-button-sm p-button-info">
                    </button>

                    <button pButton pRipple icon="pi pi-upload" (click)="importarArchivos()"
                        class="p-button p-button-sm p-button-info" pTooltip="Importar Archivos"
                        tooltipPosition="bottom">
                    </button>
                </div>
            </ng-template>

            <ng-template pTemplate="right">
                <div class="flex align-items-center gap-3 mr-3 p-2 border-round-md bg-white shadow-1">
                    <div class="flex align-items-center">
                        <p-radioButton [(ngModel)]="boletaChecked" [value]="true" name="reporteTipo"
                            (click)="toggleBoleta()" inputId="boleta"></p-radioButton>
                        <label for="boleta" class="ml-2 font-medium">Boleta</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton [(ngModel)]="planillaGeneralChecked" [value]="true" name="reporteTipo"
                            (click)="togglePlanillaGeneral()" inputId="planilla"></p-radioButton>
                        <label for="planilla" class="ml-2 font-medium">Planilla General</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton [(ngModel)]="liquidacionChecked" [value]="true" name="reporteTipo"
                            (click)="toggleLiquidacion()" inputId="liquidacion"></p-radioButton>
                        <label for="liquidacion" class="ml-2 font-medium">Liquidación</label>
                    </div>
                </div>

                <button pButton pRipple icon="pi pi-print" (click)="imprimir()"
                    class="p-button p-button-sm p-button-info" pTooltip="Imprimir Reporte" tooltipPosition="bottom">
                </button>
            </ng-template>
        </p-toolbar>

        <!-- TABLA PRINCIPAL -->
        <p-table #dt [value]="procesar" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '70rem'}"
            class="p-datatable-gridlines"
            styleClass="calcular-table p-datatable-sm p-datatable-striped p-datatable-gridlines" [paginator]="true"
            [rows]="rowsPerPage" [rowsPerPageOptions]="[10, 20, 40, 50]" [paginatorDropdownAppendTo]="'body'">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: auto; text-align: center;">Código</th>
                    <th style="width: auto; text-align: center;">
                        Doc. Nro
                        <div class="mt-1 flex justify-content-center">
                            <p-columnFilter type="text" field="pla01docuidentidadnro" matchMode="contains"
                                placeholder="Buscar Doc. Nro" [showMenu]="false" styleClass="p-inputtext-sm w-8rem">
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="width: auto; text-align: center;">
                        Apellidos y Nombres
                        <div class="mt-1 flex justify-content-center">
                            <p-columnFilter type="text" field="apellidosynombres" matchMode="contains"
                                placeholder="Buscar Apellidos" [showMenu]="false" styleClass="p-inputtext-sm w-10rem">
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="width: auto; text-align: center;">Fec. Ingreso</th>
                    <th style="width: auto; text-align: center;">Centro Costo Des.</th>
                    <th style="width: auto; text-align: center;">Puesto Des.</th>
                    <th style="width: auto; text-align: center;">Estado</th>
                    <th style="width: auto; text-align: center;">Ver Detalle</th>
                    <th style="width: auto; text-align: center;">Ajuste</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td style="text-align: center;">{{ empleado.pla01empleadocod }}</td>
                    <td style="text-align: center;">{{ empleado.pla01docuidentidadnro }}</td>
                    <td style="text-align: left;">{{ empleado.apellidosynombres }}</td>
                    <td style="text-align: center;">{{ empleado.pla01fechaingreso | date:'dd/MM/yyyy' }}</td>
                    <td style="text-align: center;">{{ empleado.pla57descripcion }}</td>
                    <td style="text-align: center;">{{ empleado.pla51descripcion }}</td>
                    <td class="text-center">
                        {{ empleado.calculoestado }}
                    </td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-file"
                            class="p-button p-button-sm p-button-text p-button-info" (click)="verDetalle(empleado)"
                            pTooltip="Ver Detalles" tooltipPosition="bottom">
                        </button>
                    </td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-cog"
                            class="p-button p-button-text p-button-sm p-button-info" (click)="ajustar(empleado)"
                            pTooltip="Ajustar" tooltipPosition="bottom">
                        </button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="text-center">No hay datos de cálculo para mostrar.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-panel>


<!-- DIALOGO: DETALLE DE PROCESO -->
<p-dialog [(visible)]="displayDetalleDialog"
    [header]="'DETALLE DE PROCESO - ' + selectedEmpleadoDetalle?.apellidosynombres" [modal]="true"
    [style]="{width: '1200px'}" styleClass="p-fluid" [draggable]="false">
    <ng-template pTemplate="content">
        <p-table [value]="detalleProcesoData" [tableStyle]="{'min-width': '50px'}" [scrollable]="true"
            scrollHeight="400px" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: auto; text-align: center;">Concepto Cod.</th>
                    <th style="width: auto; text-align: center;">Concepto Desc.</th>
                    <th style="width: auto; text-align: center;">Importe</th>
                    <th style="width: auto; text-align: center;">Boleta</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td style="text-align: left;">{{ detalle.pla10conceptocod }}</td>
                    <td style="text-align: left;">{{ detalle.pla10conceptodesc }}</td>
                    <td style="text-align: right;">{{ detalle.importe | number:'1.2-2' }}</td>
                    <td style="text-align: center;">
                        {{ detalle.boleta }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center">No hay detalles de conceptos.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-dialog>


<!-- DIALOGO: AJUSTE DE INGRESOS -->
<p-dialog header="Ajuste de Ingresos" [(visible)]="displayAjusteDialog" [modal]="true" [style]="{width: '60vw'}"
    [draggable]="false" [resizable]="false" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
    [closable]="ajusteDialogClosable" (onHide)="onAjusteDialogHide()">
    <p class="font-semibold mb-3 text-lg">
        Ajustando valores para: <span class="text-primary">{{ selectedEmpleadoAjuste?.apellidosynombres }}</span>
    </p>

    <p-toolbar styleClass="mb-3 p-2 surface-100 border-round-md justify-content-end">
        <ng-template pTemplate="left">
            <button pButton pRipple icon="pi pi-plus" (click)="addNewRow()" class="p-button-sm p-button-info"
                pTooltip="Agregar Ajuste" tooltipPosition="bottom" [disabled]="isEditing">
            </button>
        </ng-template>
    </p-toolbar>

    <p-table #ajustesTable [value]="ajustesData" dataKey="id" editMode="row"
        styleClass="p-datatable-gridlines p-datatable-sm shadow-md rounded-lg overflow-hidden">
        <ng-template pTemplate="header" scrollHeight="400px" [tableStyle]="{'min-width': '50px'}">
            <tr>
                <th style="width: auto; text-align: center;">CONCEPT. COD</th>
                <th style="width: auto; text-align: center;">Descripción</th>
                <th style="width: auto; text-align: center;">IMPORTE</th>
                <th style="width: auto; text-align: center;">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ajuste let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="ajuste">
                <td pEditableColumn style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [(ngModel)]="ajuste.pla10conceptocod" [options]="conceptosAjustables"
                                optionLabel="name" optionValue="code" placeholder="Seleccionar"
                                (onChange)="onConceptoSelect(ajuste, $event.value)" [filter]="true" [showClear]="true"
                                appendTo="body" styleClass="w-full"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span class="font-semibold">{{ ajuste.pla10conceptocod }}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="font-size: 1.1rem; text-align: left;">
                    <span class="text-700">{{ ajuste.pla10conceptodesc }}</span>
                </td>
                <td class="text-right justify-content-center" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                                [(ngModel)]="ajuste.importe" styleClass="text-right"
                                [inputStyle]="{'text-align': 'right'}"></p-inputNumber>
                        </ng-template>
                        <ng-template styleClass="w-full" pTemplate="output">
                            {{ ajuste.importe | number: '1.2-2' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <div class="flex align-items-center justify-content-center">
                        <ng-container *ngIf="!editing">
                            <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(ajuste)"
                                class="p-button p-button-rounded p-button-text p-button-sm mr-2" [disabled]="isEditing">
                            </button>
                            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteRow(ajuste, ri)"
                                class="p-button p-button-rounded p-button-text p-button-danger" [disabled]="isEditing">
                            </button>
                        </ng-container>
                        <ng-container *ngIf="editing">
                            <button pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                pTooltip="Guardar" tooltipPosition="bottom"
                                (click)="onRowEditSave(ajuste, ri)" [disabled]="!ajuste.pla10conceptocod"
                                class="p-button p-button-rounded p-button-text p-button-success mr-2">
                            </button>
                            <button pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                pTooltip="Cancelar" tooltipPosition="bottom"
                                (click)="onRowEditCancel(ajuste, ri)"
                                class="p-button p-button-rounded p-button-text p-button-danger mr-2">
                            </button>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="text-center">No hay ajustes registrados para este empleado.</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog header="Importar Ajustes de ing o descuentos" [(visible)]="displayImportDialog" [modal]="true"
    [style]="{width: '90vw', height: '90vh'}" [draggable]="false" [resizable]="false" [maximizable]="true">

    <input type="file" #fileInput accept=".txt" style="display: none" (change)="cargarArchivoTxt($event)" />

    <div class="flex justify-content-end align-items-center mb-3 p-2 border-bottom-1 surface-border">
        <div class="flex gap-2">
            <button pButton pRipple type="button" icon="pi pi-sign-out" class=" p-button-info" pTooltip="Importar"
                tooltipPosition="bottom" (click)="activarSeleccionArchivo()">
            </button>
            <button pButton pRipple type="button" icon="pi pi-save" class="p-button-info" pTooltip="Guardar"
                tooltipPosition="bottom" (click)="guardarImportacion()">
            </button>
        </div>
    </div>

    <div class="flex flex-column h-full" style="min-height: 600px;">

        <div class="flex-grow-1 mb-2 overflow-hidden">
            <p-table [value]="datosImportados" [scrollable]="true" scrollHeight="flex"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped h-full"
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: auto; text-align:center">
                            Empleado Cod.
                        </th>
                        <th style="width: auto; text-align:center">
                            Empleado Nom.
                            <div class="mt-1 flex justify-content-center">
                                <p-columnFilter type="text" field="apellidosynombres" matchMode="contains"
                                    placeholder="Buscar Apellidos y nombres" [showMenu]="false"
                                    styleClass="p-inputtext-sm w-full">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="width: auto; text-align: center;">
                            Concepto Cod.
                        </th>
                        <th style="width: auto; text-align: center;">Concepto Desc.</th>
                        <th style="width: auto; text-align: center;">Importe</th>
                        <th style="width: auto; text-align: center;">Orden</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dato>
                    <tr>
                        <td>{{dato.pla01empleadocod}}</td>
                        <td>{{dato.apellidosynombres}}</td>
                        <td>{{dato.pla10conceptocod}}</td>
                        <td>{{dato.pla10conceptodesc}}</td>
                        <td class="text-right">{{dato.importe | number:'1.2-2'}}</td>
                        <td class="text-center">{{dato.orden}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center p-4">
                            No hay datos cargados
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="surface-300 h-1rem w-full mb-2"></div>

        <div style="height: 150px;" class="border-top-1 surface-border">
            <p-table [value]="logsImportacion" [scrollable]="true" scrollHeight="150px"
                styleClass="p-datatable-sm p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 100px; background-color: #eef2f8;">fila</th>
                        <th style="background-color: #eef2f8;">mensaje</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-log>
                    <tr>
                        <td class="text-center font-bold text-red-500">{{log.fila}}</td>
                        <td class="text-red-500">{{log.mensaje}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2" class="text-center text-sm py-2">No hay datos cargados</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-dialog>

<!-- ======================================================================= -->
<!-- DIALOGO: REPORTE BOLETA DE PAGO (NUEVO) SIMULADO -->
<!-- ======================================================================= -->

<p-dialog [(visible)]="displayReporteDialog" [modal]="true" [style]="{width: '1200px'}" [draggable]="false"
    [resizable]="false" [maximizable]="true">

    <div class="p-3 bg-white text-900">
        <!-- Encabezado del Reporte -->
        <div class="text-center mb-4">
            <h2 class="m-0 font-bold text-2xl">{{tituloReporte}}</h2>
            <div class="text-lg">{{reporteBoletaData.subtitulo}} {{reporteBoletaData.periodo}}</div>
            <div class="text-sm text-500 text-left">{{reporteBoletaData.periodo}}</div>
        </div>

        <!-- Datos del Trabajador (Grid bordeado) -->
        <div class="grid grid-nogutter border-1 border-900 mb-3 text-sm">
            <!-- Fila 1 -->
            <div class="col-1 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">CODIGO</div>
            <div class="col-1 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">DNI</div>
            <div class="col-3 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">APELLIDOS Y NOMBRES
            </div>
            <div class="col-1 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">F.INGRESO</div>
            <div class="col-2 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">TIPO TRABAJADOR</div>
            <div class="col-2 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">REGIMEN PENSIONARIO
            </div>
            <div class="col-1 p-1 border-right-1 border-bottom-1 border-900 font-bold bg-gray-100">CUPSS</div>
            <div class="col-1 p-1 border-bottom-1 border-900 font-bold bg-gray-100">CARGO</div>

            <!-- Fila 2 (Valores) -->
            <div class="col-1 p-1 border-right-1 border-900">{{reporteBoletaData.codigo}}</div>
            <div class="col-1 p-1 border-right-1 border-900">{{reporteBoletaData.dni}}</div>
            <div class="col-3 p-1 border-right-1 border-900">{{reporteBoletaData.nombres}}</div>
            <div class="col-1 p-1 border-right-1 border-900">{{reporteBoletaData.fechaIngreso | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-2 p-1 border-right-1 border-900">{{reporteBoletaData.tipoTrabajador}}</div>
            <div class="col-2 p-1 border-right-1 border-900">{{reporteBoletaData.regimen}}</div>
            <div class="col-1 p-1 border-right-1 border-900">{{reporteBoletaData.cupss}}</div>
            <div class="col-1 p-1 border-900">{{reporteBoletaData.cargo}}</div>
        </div>

        <!-- Sección Central (Días y Datos Adicionales) -->
        <div class="grid grid-nogutter mb-3">
            <!-- Columna Izquierda: Días y Horas -->
            <div class="col-6 pr-2">
                <div class="border-1 border-900">
                    <div
                        class="grid grid-nogutter text-center text-xs font-bold bg-gray-100 border-bottom-1 border-900">
                        <div class="col-4 border-right-1 border-900 p-1">DIAS LABORADOS</div>
                        <div class="col-4 border-right-1 border-900 p-1">DIAS NO LABORADOS</div>
                        <div class="col-4 p-1">DIAS SUBSIDIADOS</div>
                    </div>
                    <div class="grid grid-nogutter text-center text-sm border-bottom-1 border-900">
                        <div class="col-4 border-right-1 border-900 p-1">{{reporteBoletaData.diasLaborados}}</div>
                        <div class="col-4 border-right-1 border-900 p-1">{{reporteBoletaData.diasNoLaborados}}</div>
                        <div class="col-4 p-1">{{reporteBoletaData.diasSubsidiados}}</div>
                    </div>
                    <div
                        class="grid grid-nogutter text-center text-xs font-bold bg-gray-100 border-bottom-1 border-900">
                        <div class="col-6 border-right-1 border-900 p-1">JORNADA ORDINARIA</div>
                        <div class="col-6 p-1">SOBRETIEMPO</div>
                    </div>
                    <div
                        class="grid grid-nogutter text-center text-xs font-bold bg-gray-100 border-bottom-1 border-900">
                        <div class="col-3 border-right-1 border-900 p-1">HORAS</div>
                        <div class="col-3 border-right-1 border-900 p-1">MINUTOS</div>
                        <div class="col-3 border-right-1 border-900 p-1">HORAS</div>
                        <div class="col-3 p-1">MINUTOS</div>
                    </div>
                    <div class="grid grid-nogutter text-center text-sm">
                        <div class="col-3 border-right-1 border-900 p-1">{{reporteBoletaData.horasOrdinarias}}</div>
                        <div class="col-3 border-right-1 border-900 p-1">{{reporteBoletaData.minutosOrdinarios}}</div>
                        <div class="col-3 border-right-1 border-900 p-1">{{reporteBoletaData.horasSobretiempo}}</div>
                        <div class="col-3 p-1">{{reporteBoletaData.minutosSobretiempo}}</div>
                    </div>
                </div>
            </div>

            <!-- Columna Derecha: Datos Adicionales (Tabla vacía para llenar) -->
            <div class="col-6 pl-2">
                <div class="border-1 border-900 h-full">
                    <div class="text-center font-bold bg-gray-100 border-bottom-1 border-900 p-1 text-xs">DATOS
                        ADICIONALES</div>
                    <!-- Filas simuladas -->
                    <div class="grid grid-nogutter border-bottom-1 border-900 h-2rem"
                        *ngFor="let item of reporteBoletaData.datosAdicionales">
                        <div class="col-6 border-right-1 border-900"></div>
                        <div class="col-6"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección Inferior: Conceptos Financieros -->
        <div class="grid grid-nogutter border-1 border-900 text-sm mb-5">
            <!-- Encabezados -->
            <div class="col-4 p-1 font-bold text-center bg-gray-100 border-right-1 border-bottom-1 border-900">INGRESOS
            </div>
            <div class="col-4 p-1 font-bold text-center bg-gray-100 border-right-1 border-bottom-1 border-900">
                APORTES/DESCUENTOS TRABAJADOR</div>
            <div class="col-4 p-1 font-bold text-center bg-gray-100 border-bottom-1 border-900">APORTE EMPLEADOR</div>

            <!-- Cuerpo (Altura mínima simulada) -->
            <div class="col-12 grid grid-nogutter" style="min-height: 150px;">
                <div class="col-4 border-right-1 border-900 p-2">
                    <!-- Lista de Ingresos -->
                </div>
                <div class="col-4 border-right-1 border-900 p-2">
                    <!-- Lista de Descuentos -->
                </div>
                <div class="col-4 p-2">
                    <!-- Lista Aportes Empleador -->
                </div>
            </div>

            <!-- Totales / Neto -->
            <div class="col-4 border-right-1 border-top-1 border-900"></div>
            <div
                class="col-4 border-right-1 border-top-1 border-900 p-1 font-bold flex justify-content-between align-items-center">
                <span>NETO A PAGAR</span>
                <span>{{reporteBoletaData.netoPagar}}</span>
            </div>
            <div class="col-4 border-top-1 border-900"></div>
        </div>

        <!-- Firmas -->
        <div class="flex justify-content-between mt-6 px-5 pt-5">
            <div class="text-center w-5 border-top-1 border-900 pt-2">
                EMPLEADOR
            </div>
            <div class="text-center w-5 border-top-1 border-900 pt-2">
                TRABAJADOR
            </div>
        </div>
    </div>
</p-dialog>