/* Estilo original de la tabla */
:host ::ng-deep .calcular-table {
    width: fit-content;
    max-width: 100%;
}

::ng-deep .calcular-table table {
  border-collapse: collapse;
  width: auto !important;
  table-layout: auto;

}

/* Estilos para el Panel principal */
:host ::ng-deep .calcular-panel.header-large .p-panel-title {
    font-size: 1.4rem; 
    font-weight: 700; 
}

/*  Wrapper para el Contenido del Panel (Toolbar, Controles, Tabla) */
:host ::ng-deep .content-wrapper {
    overflow-x: auto;
    width: fit-content; 
    max-width: 100%;
}

/* Estilos para alinear el Toolbar y los Controles de Página con la Tabla */
:host ::ng-deep .align-to-table {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%; 
}


:host ::ng-deep .p-datatable-scrollable-body {
    overflow-x: auto !important;
}

/* ESTILOS PARA EL DIÁLOGO DE AJUSTES (TABLA EDITABLE)  */

:host ::ng-deep .p-celleditor-input,
:host ::ng-deep .p-dropdown,
:host ::ng-deep .p-inputtext {
    width: 100% !important;
}

:host ::ng-deep .p-datatable-tbody td {
    vertical-align: middle;
}

:host ::ng-deep .p-cell-editing .p-dropdown .p-dropdown-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(1) {
    text-align: center;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(2) {
    text-align: left; 
    padding-left: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(3) {
    text-align: right; 
}

:host ::ng-deep .p-row-editor-actions button {
    margin: 0 0.25rem;
}

/* ESTILOS PARA MANEJAR ANCHOS DE LOS COMBOBOX */

:host ::ng-deep .p-celleditor-input,
:host ::ng-deep .p-dropdown,
:host ::ng-deep .p-inputtext {
    width: 100% !important;
}

:host ::ng-deep .p-dialog .p-datatable-gridlines table {
    table-layout: fixed; 
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(1){
    text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:nth-child(3) {
    text-align: center;
}

