
.calculated {
    color: var(--green-600); 
    font-weight: bold;
}

.not-calculated {
    color: var(--text-color); 
}

.button-group-right > * {
    margin-left: 0.5rem; 
}

.card {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.p-ml-1 {
    margin-left: 0.25rem !important;
}

p-table {
    flex-grow: 1;
}