<div class="concepto-estandar-container">
  <p-toast></p-toast>

  <p-confirmDialog></p-confirmDialog>

  <div class="page-header">
    <div class="header-content">
      <span class="header-title">Concepto Estandar</span>
      <div class="toolbar-buttons">
        <button pButton type="button" icon="pi pi-plus" class="p-button-sm toolbar-btn"
          (click)="agregarNuevo()" pTooltip="Crear" tooltipPosition="bottom"></button>

        <button pButton type="button" icon="pi pi-refresh" class="p-button-sm toolbar-btn"
          (click)="refrescarTabla()" pTooltip="Refrescar" tooltipPosition="bottom"></button>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table [value]="conceptos" [paginator]="true" [rows]="15" [rowsPerPageOptions]="[10, 15, 20, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} conceptos"
      [globalFilterFields]="['codigo', 'descripcion', 'conceptoTipoDesc', 'conceptoSubTipoc']"
      [tableStyle]="{ 'min-width': '100%' }" styleClass="concepto-estandar-table">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px">Codigo</th>
          <th style="width: 280px">Descripcion</th> <th style="width: 100px; text-align: center">Impresion</th>
          <th style="width: 80px; text-align: center">Activo</th>
          <th style="width: 120px; text-align: center">Configurable</th>
          <th style="width: 150px">Concepto Sunat</th>
          <th style="width: 150px">ConceptoTipoDesc</th>
          <th style="width: 150px">Concepto SubTipoc</th>
          <th style="width: 100px">Tipo</th>
          <th style="width: 180px; text-align: center">Acciones</th> </tr>
      </ng-template>

      <ng-template pTemplate="body" let-concepto>
        <tr>
          <td>{{ concepto.codigo }}</td>
          <td>{{ concepto.descripcion }}</td>
          <td class="text-center">{{ concepto.impresion }}</td>
          <td class="text-center">{{ concepto.activo }}</td>
          <td class="text-center">{{ concepto.configurable }}</td>
          <td>{{ concepto.conceptoSunat }}</td>
          <td>{{ concepto.conceptoTipoDesc }}</td>
          <td>{{ concepto.conceptoSubTipoc }}</td>
          <td>{{ concepto.tipo }}</td>
          <td class="text-center">

            <button pButton type="button" icon="pi pi-eye"
              class="p-button-rounded p-button-info p-button-text p-button-sm action-btn"
              (click)="mostrarDetalleConcepto(concepto)" pTooltip="Ver" tooltipPosition="top">
            </button>

            <button pButton type="button" icon="pi pi-question-circle"
              class="p-button-rounded p-button-info p-button-text p-button-sm action-btn"
              (click)="mostrarAyuda(concepto)" pTooltip="Ayuda Local" tooltipPosition="top">
            </button>
            <button pButton type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-warning p-button-text p-button-sm action-btn"
              (click)="editarConcepto(concepto)" pTooltip="Editar" tooltipPosition="top">
            </button>
            <button pButton type="button" icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text p-button-sm action-btn"
              (click)="eliminarConcepto(concepto)" pTooltip="Eliminar" tooltipPosition="top">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10" class="text-center empty-message">
            <i class="pi pi-info-circle"></i>
            <p>No se encontraron conceptos</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="displayDialog"
    [header]="isNewRecord ? 'Nuevo Concepto' : (esModoVisualizacion ? 'Visualización de Concepto' : 'Detalle de concepto')"
    [modal]="true" [style]="{width: '95vw', height: '90vh'}" [draggable]="false" [resizable]="false"
    styleClass="concepto-dialog">
    <div class="concepto-detalle">
      <div class="info-basica">
        <div class="form-row">
          <div class="form-group">
            <label>Codigo :</label>
            <input type="text" pInputText [(ngModel)]="conceptoActual.codigo"
              [disabled]="!isNewRecord || esModoVisualizacion" maxlength="10" />
          </div>
          <div class="form-group form-group-wide">
            <label>Descripcion :</label>
            <input type="text" pInputText [(ngModel)]="conceptoActual.descripcion"
              [disabled]="esModoVisualizacion" maxlength="150" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Tipo calculo :</label>
            <div class="input-with-button">
              <input type="text" pInputText [(ngModel)]="conceptoActual.tipoCalculoCod"
                (keypress)="soloNumeros($event)" readonly maxlength="2" style="width: 50px" />
              <input type="text" pInputText [(ngModel)]="conceptoActual.tipoCalculoDes"
                [disabled]="true" /> <button pButton type="button" icon="pi pi-search" class="p-button-sm"
                [disabled]="esModoVisualizacion" (click)="abrirBusquedaTipoCalculo()"></button>
            </div>
          </div>
          <div class="form-group">
            <label>Tipo :</label>
            <div class="input-with-button">
              <input type="text" pInputText [(ngModel)]="conceptoActual.tipoCod"
                (keypress)="soloNumeros($event)" readonly maxlength="2" style="width: 50px" />
              <input type="text" pInputText [(ngModel)]="conceptoActual.tipoDes"
                [disabled]="true" /> <button pButton type="button" icon="pi pi-search" class="p-button-sm"
                [disabled]="esModoVisualizacion" (click)="abrirBusquedaConceptoTipo()"></button>
            </div>
          </div>
          <div class="form-group">
            <label>Sub.Tipo :</label>
            <div class="input-with-button">
              <input type="text" pInputText [(ngModel)]="conceptoActual.subTipoCod"
                (keypress)="soloNumeros($event)" readonly maxlength="2" style="width: 50px" />
              <input type="text" pInputText [(ngModel)]="conceptoActual.subTipoDes"
                [disabled]="true" /> <button pButton type="button" icon="pi pi-search" class="p-button-sm"
                [disabled]="esModoVisualizacion" (click)="abrirBusquedaSubTipo()"></button>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.imprimible" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="imprimible"></p-checkbox>
            <label for="imprimible">Imprimible</label>
          </div>
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.configBasica" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="configBasica"></p-checkbox>
            <label for="configBasica">Config.Basica</label>
          </div>
          <div class="form-group-checkbox">
            <p-checkbox [(ngModel)]="conceptoActual.formulable" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="formulable"></p-checkbox>
            <label for="formulable">Formulable</label>
          </div>
          <div class="form-group-checkbox ml-auto">
            <p-checkbox [(ngModel)]="conceptoActual.activo" [binary]="true"
              [disabled]="esModoVisualizacion" inputId="activo"></p-checkbox>
            <label for="activo">Activo</label>
          </div>
        </div>
      </div>

      <div class="text-areas">
        <div class="textarea-container">
          <textarea pInputTextarea rows="8" [disabled]="true"></textarea> </div>
        <div class="textarea-container">
          <textarea pInputTextarea rows="8" [disabled]="true"></textarea> </div>
      </div>

      <div class="sunat-observacion">
        <div class="form-group">
          <label>Concepto Sunat :</label>
          <div class="input-with-button">
            <input type="text" pInputText [(ngModel)]="conceptoActual.conceptoSunatCod"
              (keypress)="soloNumeros($event)" readonly style="width: 100px" />
            <input type="text" pInputText [(ngModel)]="conceptoActual.conceptoSunatDes"
              [disabled]="true" style="flex: 1" /> <button pButton type="button" icon="pi pi-search" class="p-button-sm"
              [disabled]="esModoVisualizacion" (click)="abrirBusquedaConceptoSunat()"></button>
          </div>
        </div>
        <div class="form-group">
          <label>Observacion</label>
        </div>
      </div>

      <div class="tabs-section">
        <div class="tab-panel">
          <h4>Afectaciones Sunat</h4>
          <p-table [value]="conceptoActual.afectacionesSunat" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Cod...</th>
                <th>Descripcion</th>
                <th style="width: 80px; text-align: center">Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Afectacion otros</h4>
          <p-table [value]="conceptoActual.afectacionOtros" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Cod...</th>
                <th>Descripcion</th>
                <th style="width: 80px; text-align: center">Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Plantilla asignada</h4>
          <p-table [value]="conceptoActual.planillasAsignadas" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Cod...</th>
                <th>Descripcion</th>
                <th style="width: 80px; text-align: center">Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="tab-panel">
          <h4>Regimen Laboral</h4>
          <p-table [value]="conceptoActual.regimenesLaborales" [scrollable]="true" scrollHeight="150px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">Codigo</th>
                <th>Descri...</th>
                <th style="width: 80px; text-align: center">Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-center">
                  <p-checkbox [(ngModel)]="item.valor" [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button *ngIf="!esModoVisualizacion" pButton type="button" label="Guardar" icon="pi pi-check"
        class="p-button-success" (click)="guardarConcepto()"></button>
      <button pButton type="button" [label]="esModoVisualizacion ? 'Cerrar' : 'Cancelar'" icon="pi pi-times"
        class="p-button-secondary" (click)="cancelarEdicion()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="displayTipoCalculoDialog" header="Tipo de calculo" [modal]="true"
    [style]="{width: '600px'}" [draggable]="false">
    <p-table [value]="tiposCalculo" [scrollable]="true" scrollHeight="300px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarTipoCalculo(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayTipoCalculoDialog = false"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="displayConceptoTipoDialog" header="Concepto Tipo" [modal]="true"
    [style]="{width: '500px'}" [draggable]="false">
    <p-table [value]="conceptosTipo" [scrollable]="true" scrollHeight="250px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarConceptoTipo(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayConceptoTipoDialog = false"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="displaySubTipoDialog" header="Subtipo de Concepto Tipo" [modal]="true"
    [style]="{width: '700px'}" [draggable]="false">
    <p-table [value]="subTiposConcepto" [scrollable]="true" scrollHeight="300px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 150px">Concepto Tipo Cod.</th>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-subTipo>
        <tr [pSelectableRow]="subTipo" (click)="seleccionarSubTipo(subTipo)" style="cursor: pointer">
          <td>{{ subTipo.conceptoTipoCod }}</td>
          <td>{{ subTipo.codigo }}</td>
          <td>{{ subTipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displaySubTipoDialog = false"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="displayConceptoSunatDialog" header="Concepto Sunat" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false">
    <p-table [value]="conceptosSunat" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 120px">CodigoSunat</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-concepto>
        <tr [pSelectableRow]="concepto" (click)="seleccionarConceptoSunat(concepto)" style="cursor: pointer">
          <td>{{ concepto.codigoSunat }}</td>
          <td>{{ concepto.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayConceptoSunatDialog = false"></button>
    </ng-template>
  </p-dialog>

</div>