<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>


<p-panel header="Trabajador Detalle " styleClass="shadow-xl rounded-xl mb-3">


  <div class="button-group">
    <button pButton type="button" label="Regresar" icon="pi pi-arrow-left" (click)="regresar()" class="p-button-secondary"></button>

    <!-- Botón Guardar -->
    <button *ngIf="!esModoVisualizacion && !isNewRecord" pButton type="button" label="Guardar Edición" icon="pi pi-save"
      (click)="guardarEdicion()" class="p-button-success"></button>

    <button *ngIf="!esModoVisualizacion && isNewRecord" pButton type="button" label="Guardar Nuevo" icon="pi pi-save"
      (click)="guardarNuevoRegistro()" class="p-button-success"></button>
  </div>


  <form [formGroup]="trabajadorForm">
      <!-- Detalles superiores -->

      <div class="grid gap-3 mb-3 mt-3" style="grid-template-columns: repeat(5, 1fr); align-items: center;">
        <!-- Código -->
        <div class="col-span-1">
          <label>Código :</label>
          <input type="text" pInputText formControlName="pla01empleadocod" placeholder="Código" class="w-full" readonly />
        </div>

        <!-- Doc.Tipo -->
        <div class="col-span-2 mt-4">
          <!-- Doc tipo debe estar encima del dropdown -->
          <label>Doc.Tipo :</label>
          <p-dropdown
            [options]="tiposDocumentos"
            formControlName="pla01docuidentidadtipo"
            placeholder="Seleccione"
            optionLabel="descripcion"
            optionValue="codigo"
            [style]="{width: '250px'}"
            class="ml-3"
            (onChange)="actualizarTipoDocumento($event)"
          ></p-dropdown>
        </div>

        <!-- Doc.Nro -->
        <div class="col-span-1">
          <label>Doc.Nro :</label>
          <input type="text" pInputText formControlName="pla01docuidentidadnro" class="w-full" />
        </div>

        <div class="col-span-1"></div>

        <!-- Apellido Paterno -->
        <div class="col-span-1">
          <label>Ape.Paterno :</label>
          <input type="text" pInputText formControlName="pla01apepaterno" class="w-full" />
        </div>

        <!-- Apellido Materno -->
        <div class="col-span-1">
          <label>Ape.Materno :</label>
          <input type="text" pInputText formControlName="pla01apematerno" class="w-full" />
        </div>

        <!-- Nombres -->
        <div class="col-span-1">
          <label>Nombres :</label>
          <input type="text" pInputText formControlName="pla01nombre1" class="w-full" />
        </div>

        <!-- Fecha Nacimiento -->
        <div class="col-span-1 mt-4">
          <label>Fec.Nac :</label>
          <p-calendar formControlName="pla01fechanacimiento" dateFormat="dd/mm/yy" class="w-full ml-3"></p-calendar>
        </div>

        <!-- Sexo -->
        <div class="col-span-1">
          <label>Sexo :</label>
          <div class="flex gap-2" style="height: 2.5rem; display: flex; align-items: center;">
            <p-radioButton formControlName="pla01sexo" label="M" [value]="'M'"></p-radioButton>
            <p-radioButton formControlName="pla01sexo" label="F" [value]="'F'"></p-radioButton>
          </div>
        </div>

        <!-- Régimen Laboral -->
        <div class="col-span-2">
          <!-- Reg laboral debe estar encima del dropdown -->
          <label>Reg.Laboral :</label>
          <p-dropdown
            [options]="regimenesLaborales"
            formControlName="pla01trdatoslabregimenlaboral"
            placeholder="Seleccione"
            optionLabel="descripcion"
            optionValue="codigo"
            [style]="{width: '500px'}"
            class="ml-3"
            (onChange)="actualizarRegimenLaboral($event)"
          ></p-dropdown>
        </div>
      </div>



      <!-- Sección cambiante -->
      <p-tabView>

        <!-- Principales-->
        <p-tabPanel header="Principales">

          <div class="grid gap-3">

            <!-- Primera fila -->
            <div class="col-12">
              <app-remuneraciones
              [remuneraciones]="remuneraciones"
              [esModoVisualizacion]="esModoVisualizacion"
              ></app-remuneraciones>
            </div>

            <div class="col-12">
              <!-- Tabla de Regímenes Pensionarios -->
              <app-regimenes-pensionarios
              [regimenespensionarios]="regimenespensionarios"
              [esModoVisualizacion]="esModoVisualizacion"
              ></app-regimenes-pensionarios>

            </div>

            <!-- Segunda fila, Periodos Laborales -->
            <div class="col-12">

              <app-periodos-laborales
              [periodoslaborales]="periodoslaborales"
              [esModoVisualizacion]="esModoVisualizacion">
              </app-periodos-laborales>

            </div>

          </div>



        </p-tabPanel>

        <!-- Empresa -->
        <p-tabPanel header="Empresa">
          <div class="grid gap-4 p-4" style="grid-template-columns: repeat(2, 1fr); max-width: 1000px;">
            <!-- Centro de Costos -->
            <div>
              <label>Centro de Costos:</label>
              <p-dropdown
                [options]="centroCostos"
                formControlName="pla01centrocostocod"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                [style]="{width: '100%'}"
                (onChange)="actualizarCentroCostos($event)"
              ></p-dropdown>
            </div>

            <!-- Puesto / Cargo -->
            <div>
              <label>Cargo Puesto:</label>
              <p-dropdown
                [options]="cargos"
                formControlName="pla01puestocod"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                [style]="{width: '100%'}"
                (onChange)="actualizarCargo($event)"
              ></p-dropdown>
            </div>

            <!-- Banco Remuneración -->
            <div>
              <label>Banco Remuneración:</label>
              <p-dropdown
                [options]="bancosRemuneracion"
                formControlName="pla01ctaremubancocod"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                [style]="{width: '100%'}"
                (onChange)="actualizarBancoRemuneracion($event)"
              ></p-dropdown>
            </div>

            <!-- Moneda Remuneración -->
            <div>
              <label>Moneda Remuneración:</label>
              <p-dropdown
                [options]="monedasRemuneracion"
                formControlName="pla01ctaremumoneda"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                [style]="{width: '100%'}"
                (onChange)="actualizarMonedaRemuneracion($event)"
              ></p-dropdown>
            </div>

            <!-- Número de Cuenta Remuneración -->
            <div>
              <label>Número de Cuenta Remuneración:</label>
              <input
                type="text"
                pInputText
                formControlName="pla01ctaremunumero"
                placeholder="Número de Cuenta"
                [style]="{width: '100%'}"
              />
            </div>

            <!-- Banco Depósito CTS -->
            <div>
              <label>Banco Depósito CTS:</label>
              <p-dropdown
                [options]="bancosCTS"
                formControlName="pla01ctactsbancocod"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                [style]="{width: '100%'}"
                (onChange)="actualizarBancoCTS($event)"
              ></p-dropdown>
            </div>

            <!-- Moneda Depósito CTS -->
            <div>
              <label>Moneda Depósito CTS:</label>
              <div class="flex align-items-center gap-2">
                <p-dropdown
                  [options]="monedasCTS"
                  formControlName="pla01ctactsmoneda"
                  placeholder="Seleccione"
                  optionLabel="descripcion"
                  optionValue="codigo"
                  [style]="{width: '100%'}"
                  (onChange)="actualizarMonedaCTS($event)"
                ></p-dropdown>
              </div>
            </div>

            <!-- Número de Cuenta CTS -->
            <div>
              <label>Número de Cuenta CTS:</label>
              <input
                type="text"
                pInputText
                formControlName="pla01ctactsnumero"
                placeholder="Número de Cuenta"
                [style]="{width: '100%'}"
              />
            </div>
          </div>

        </p-tabPanel>

        <!-- Dirección -->
        <p-tabPanel header="Dirección">

          <!-- No hay datos -->

        </p-tabPanel>

        <!-- Derecho de habientes -->
        <p-tabPanel header="Derecho de habientes">

          <!-- No hay datos -->

        </p-tabPanel>

        <!-- Laborales -->
        <p-tabPanel header="Laborales">

          <div class="grid gap-3">

            <!-- Primera fila: Tipo de trabajador y Fechas -->
            <div class="col-12">
              <label>Tipo de trabajador</label>
              <p-dropdown
                [options]="tipoTrabajador"
                formControlName="Pla01TRDatosLabTipoTrabajador"
                placeholder="Seleccione"
                optionLabel="descripcion"
                optionValue="codigo"
                class="w-full"
                (onChange)="actualizarTipoTrabajador($event)"
              ></p-dropdown>
            </div>

          </div>

        </p-tabPanel>

        <!-- Seguro social -->
        <p-tabPanel header="Seguro social">

          <div class="grid gap-3">

            <!-- Primera fila: Código y Fecha de Inicio -->
            <div class="col-12">
              <label>Código:</label>
              <p-dropdown
                  [options]="regimenesSalud"
                  formControlName="pla01trdatossegsocialregsaludcod"
                  placeholder="Seleccione"
                  optionLabel="descripcion"
                  optionValue="codigo"
                  [style]="{width: '300px'}"
                  class="mx-3"
                  (onChange)="actualizarRegimenSalud($event)"
                ></p-dropdown>
              <p-calendar
                formControlName="pla01trdatossegsocialregsaludfechainicio"
                dateFormat="dd/mm/yy"
                placeholder="Fecha de inicio"
                class="w-full"
              ></p-calendar>
            </div>

            <!-- Segunda fila: Cobertura de Salud y Fecha de Inicio -->
            <div class="col-12">
              <label>Cobertura de Salud:</label>
              <div class="flex align-items-center gap-2">
                <p-radioButton
                  formControlName="pla01trdatossegsocialcoberturasalud"
                  [value]="'1'"
                  label="EsSalud"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatossegsocialcoberturasalud"
                  [value]="'2'"
                  label="EPS"
                ></p-radioButton>
                <p-calendar
                  formControlName="pla01trdatossegsocialcoberturasaludfechainicio"
                  dateFormat="dd/mm/yy"
                  placeholder="Fecha de inicio"
                  class="w-full ml-3"
                ></p-calendar>
              </div>
            </div>

            <!-- Tercera fila: Aporta SCRT -->
            <div class="col-12">
              <label>¿Aporta SCRT?</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagaportascrt"
                  [value]="'S'"
                  label="Sí"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagaportascrt"
                  [value]="'N'"
                  label="No"
                ></p-radioButton>
              </div>
            </div>

            <!-- Cuarta fila: Cobertura de Pensión -->
            <div class="col-12">
              <label>Cobertura de Pensión:</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatossegsocialcoberturapension"
                  [value]="'1'"
                  label="ONP"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatossegsocialcoberturapension"
                  [value]="'2'"
                  label="Seguro Privado"
                ></p-radioButton>
              </div>
            </div>

            <!-- Quinta fila: Asegura tu Pensión -->
            <div class="col-12">
              <label>¿Asegura tu Pensión?</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagaseguratupension"
                  [value]="'S'"
                  label="Sí"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagaseguratupension"
                  [value]="'N'"
                  label="No"
                ></p-radioButton>
              </div>
            </div>

            <!-- Sexta fila: EsSalud Más Vida -->
            <div class="col-12">
              <label>¿EsSalud Más Vida?</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagessaludmasvida"
                  [value]="'S'"
                  label="Sí"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatossegsocialflagessaludmasvida"
                  [value]="'N'"
                  label="No"
                ></p-radioButton>
              </div>
            </div>

          </div>

        </p-tabPanel>

        <!-- Tributarios -->
        <p-tabPanel header="Tributarios">
          <div class="grid gap-3">
            <!-- Radio Button: Otros Ingresos -->
            <div class="col-12">
              <label>¿Percibe rentas de 5ta exoneradas?</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatostribflagquintaotrosingresos"
                  [value]="'S'"
                  label="Sí"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatostribflagquintaotrosingresos"
                  [value]="'N'"
                  label="No"
                ></p-radioButton>
              </div>
            </div>

            <!-- Radio Button: Exonerada -->
            <div class="col-12">
              <label>¿Aplica convenio para aplicar doble imposición?</label>
              <div class="flex gap-3">
                <p-radioButton
                  formControlName="pla01trdatostribflagquintaexonerada"
                  [value]="'S'"
                  label="Sí"
                ></p-radioButton>
                <p-radioButton
                  formControlName="pla01trdatostribflagquintaexonerada"
                  [value]="'N'"
                  label="No"
                ></p-radioButton>
              </div>
            </div>
          </div>
        </p-tabPanel>


      </p-tabView>

  </form>
</p-panel>



<!-- Modal para seleccionar régimen laboral -->

<p-dialog [(visible)]="displayBusquedaRegLaboralDialog" [header]="'Búsqueda de Régimen Laboral'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="regimenesLaborales" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-regimen>
        <tr [pSelectableRow]="regimen" (click)="seleccionarRegimenLaboral(regimen)" style="cursor: pointer">
          <td>{{ regimen.codigo }}</td>
          <td>{{ regimen.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayBusquedaRegLaboralDialog = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal para seleccionar tipo de documento -->

<p-dialog [(visible)]="displayBusquedaTipoDocumentoDialog" [header]="'Búsqueda de Tipo de Documento'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="tiposDocumentos" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarTipoDocumento(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayBusquedaTipoDocumentoDialog = false"></button>
    </ng-template>
</p-dialog>
<!--                -->
<!-- Modal Empresas -->
<!--                -->

<!-- Modal Centro Costos -->
<p-dialog [(visible)]="mostrarModalCentroCostos" [header]="'Centro de Costo'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="centroCostos" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-centro>
        <tr [pSelectableRow]="centro" (click)="seleccionarCentroCosto(centro)" style="cursor: pointer">
          <td>{{ centro.codigo }}</td>
          <td>{{ centro.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarModalCentroCostos = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Cargos -->
<p-dialog [(visible)]="mostrarModalCargos" [header]="'Cargo'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="cargos" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cargo>
        <tr [pSelectableRow]="cargo" (click)="seleccionarCargo(cargo)" style="cursor: pointer">
          <td>{{ cargo.codigo }}</td>
          <td>{{ cargo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarModalCargos = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Banco remuneracion -->
<p-dialog [(visible)]="mostrarBancosRemuneracion" [header]="'Bancos para Cuenta Remuneración'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="bancosRemuneracion" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-banco>
        <tr [pSelectableRow]="banco" (click)="seleccionarBancoRemuneracion(banco)" style="cursor: pointer">
          <td>{{ banco.codigo }}</td>
          <td>{{ banco.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarBancosRemuneracion = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Monedas remuneracion -->
<p-dialog [(visible)]="mostrarMonedasRemuneracion" [header]="'Moneda'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="monedasRemuneracion" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-moneda>
        <tr [pSelectableRow]="moneda" (click)="seleccionarMonedaRemuneracion(moneda)" style="cursor: pointer">
          <td>{{ moneda.codigo }}</td>
          <td>{{ moneda.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarMonedasRemuneracion = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Bancos CTS -->
<p-dialog [(visible)]="mostrarBancosCTS" [header]="'Bancos para cuenta depósito CTS'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="bancosCTS" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-banco>
        <tr [pSelectableRow]="banco" (click)="seleccionarBancoCTS(banco)" style="cursor: pointer">
          <td>{{ banco.codigo }}</td>
          <td>{{ banco.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarBancosCTS = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Monedas CTS -->
<p-dialog [(visible)]="mostrarMonedasCTS" [header]="'Moneda'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="monedasCTS" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-moneda>
        <tr [pSelectableRow]="moneda" (click)="seleccionarMonedaCTS(moneda)" style="cursor: pointer">
          <td>{{ moneda.codigo }}</td>
          <td>{{ moneda.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarMonedasCTS = false"></button>
    </ng-template>
</p-dialog>


<!--                     -->
<!-- Modal Seguro Social -->
<!--                     -->

<p-dialog [(visible)]="mostrarModalRegimenSalud" [header]="'Regimen Salud'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="regimenesSalud" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-salud>
        <tr [pSelectableRow]="salud" (click)="seleccionarRegimenSalud(salud)" style="cursor: pointer">
          <td>{{ salud.codigo }}</td>
          <td>{{ salud.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarModalRegimenSalud = false"></button>
    </ng-template>
</p-dialog>
