<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="button-group">
  <button pButton type="button" label="Regresar" icon="pi pi-arrow-left" (click)="regresar()" class="p-button-secondary"></button>

  <!-- Botón Guardar -->
  <button *ngIf="!esModoVisualizacion && !isNewRecord" pButton type="button" label="Guardar Edición" icon="pi pi-save"
    (click)="guardarEdicion()" class="p-button-success"></button>

  <button *ngIf="!esModoVisualizacion && isNewRecord" pButton type="button" label="Guardar Nuevo" icon="pi pi-save"
    (click)="guardarNuevoRegistro()" class="p-button-success"></button>
</div>

<form [formGroup]="trabajadorForm">
    <!-- Detalles superiores -->

    <div class="grid gap-3 mb-3 mt-3" style="grid-template-columns: repeat(5, 1fr); align-items: center;">
      <!-- Código -->
      <div class="col-span-1">
        <label>Código :</label>
        <input type="text" pInputText formControlName="pla01empleadocod" placeholder="Código" class="w-full" readonly />
      </div>

      <!-- Doc.Tipo -->
      <div class="col-span-2">
        <label>Doc.Tipo :</label>
        <div class="flex align-items-center gap-2">
          <input type="text" pInputText formControlName="pla01docuidentidadtipo" readonly maxlength="2" style="width: 60px;" />
          <input type="text" pInputText formControlName="tipdocdesc" readonly class="w-full" />
          <button pButton type="button" icon="pi pi-search" class="p-button-sm" (click)="abrirBusquedaTipoDocumento()"></button>
        </div>
      </div>

      <!-- Doc.Nro -->
      <div class="col-span-1">
        <label>Doc.Nro :</label>
        <input type="text" pInputText formControlName="pla01docuidentidadnro" class="w-full" />
      </div>

      <div class="col-span-1"></div>

      <!-- Apellido Paterno -->
      <div class="col-span-1">
        <label>Ape.Paterno :</label>
        <input type="text" pInputText formControlName="pla01apepaterno" class="w-full" />
      </div>

      <!-- Apellido Materno -->
      <div class="col-span-1">
        <label>Ape.Materno :</label>
        <input type="text" pInputText formControlName="pla01apematerno" class="w-full" />
      </div>

      <!-- Nombres -->
      <div class="col-span-1">
        <label>Nombres :</label>
        <input type="text" pInputText formControlName="pla01nombre1" class="w-full" />
      </div>

      <!-- Fecha Nacimiento -->
      <div class="col-span-1 mt-4">
        <label>Fec.Nac :</label>
        <p-calendar formControlName="pla01fechanacimiento" dateFormat="dd/mm/yy" class="w-full"></p-calendar>
      </div>

      <!-- Sexo -->
      <div class="col-span-1">
        <label>Sexo :</label>
        <div class="flex gap-2" style="height: 2.5rem; display: flex; align-items: center;">
          <p-radioButton formControlName="pla01sexo" label="M" [value]="'M'"></p-radioButton>
          <p-radioButton formControlName="pla01sexo" label="F" [value]="'F'"></p-radioButton>
        </div>
      </div>

      <!-- Régimen Laboral -->
      <div class="col-span-2">
        <label>Reg.Laboral :</label>
        <div class="flex align-items-center gap-2">
          <input type="text" pInputText formControlName="pla01trdatoslabregimenlaboral" readonly maxlength="2" style="width: 60px;" />
          <input type="text" pInputText formControlName="labregimenlaboraldes" readonly class="w-full" />
          <button pButton type="button" icon="pi pi-search" class="p-button-sm" [disabled]="esModoVisualizacion" (click)="abrirBusquedaRegLaboral()"></button>
        </div>
      </div>
    </div>



    <!-- Sección cambiante -->
    <p-tabView>

      <!-- Principales-->
      <p-tabPanel header="Principales">

        <div class="grid gap-3">

          <!-- Primera fila -->
          <div class="col-12">

            <!-- Tabla de Remuneraciones -->
            <p-table [value]="trabajadorForm.value.remuneraciones" editable="true" styleClass="p-datatable-sm">
              <!-- Cabecera -->
              <ng-template pTemplate="header">
                <tr>
                  <th>Concepto cod.</th>
                  <th>Concepto desc.</th>
                  <th>Importe</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>

              <!-- Cuerpo -->
              <ng-template pTemplate="body" let-remuneracion let-ri="rowIndex">
                <tr>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" pInputText [(ngModel)]="remuneracion.pla05conceptocod" />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ remuneracion.pla05conceptocod }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" pInputText [(ngModel)]="remuneracion.conceptodesc" />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ remuneracion.conceptodesc }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="number" pInputText [(ngModel)]="remuneracion.pla05importe" />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ remuneracion.pla05importe | number: '1.2-2' }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <!--
                      <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm" (click)="onRowEditInit(remuneracion)"></button>
                    <button pButton icon="pi pi-check" class="p-button-rounded p-button-text p-button-sm p-button-success" (click)="onRowEditSave(remuneracion, ri)"></button>
                    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text p-button-sm p-button-danger" (click)="onRowEditCancel(remuneracion, ri)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-sm p-button-danger" (click)="eliminarRemuneracion(ri)"></button>
                    -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="col-12">
            <!-- Tabla de Regímenes Pensionarios -->

          </div>

          <!-- Segunda fila, Periodos Laborales -->
          <div class="col-12">

            <app-periodos-laborales
            [periodoslaborales]="periodoslaborales"
            [esModoVisualizacion]="esModoVisualizacion">
            </app-periodos-laborales>

          </div>

        </div>



      </p-tabPanel>

      <!-- Empresa -->
      <p-tabPanel header="Empresa">
        <button pButton label="Verificar Datos" (click)="verificarDatosFormulario()"></button>

        <!-- No hay datos -->

      </p-tabPanel>

      <!-- Dirección -->
      <p-tabPanel header="Dirección">

        <!-- No hay datos -->

      </p-tabPanel>

      <!-- Derecho de habientes -->
      <p-tabPanel header="Derecho de habientes">

        <!-- No hay datos -->

      </p-tabPanel>

      <!-- Laborales -->
      <p-tabPanel header="Laborales">

      </p-tabPanel>

      <!-- Seguro social -->
      <p-tabPanel header="Seguro social">

      </p-tabPanel>

      <!-- Tributarios -->
      <p-tabPanel header="Tributarios">

      </p-tabPanel>


    </p-tabView>

  </form>


<!-- Modal para seleccionar régimen laboral -->

<p-dialog [(visible)]="displayBusquedaRegLaboralDialog" [header]="'Búsqueda de Régimen Laboral'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="regimenesLaborales" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-regimen>
        <tr [pSelectableRow]="regimen" (click)="seleccionarRegimenLaboral(regimen)" style="cursor: pointer">
          <td>{{ regimen.codigo }}</td>
          <td>{{ regimen.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayBusquedaRegLaboralDialog = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal para seleccionar tipo de documento -->

<p-dialog [(visible)]="displayBusquedaTipoDocumentoDialog" [header]="'Búsqueda de Tipo de Documento'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
    <p-table [value]="tiposDocumentos" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%;">Código</th>
          <th style="width: 70%;">Descripción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarTipoDocumento(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayBusquedaTipoDocumentoDialog = false"></button>
    </ng-template>
</p-dialog>
