
/* Estilo original de la tabla */
:host ::ng-deep .periodopago-table {
    width: fit-content;
    max-width: 100%;
}

::ng-deep .periodopago-table table {
  border-collapse: collapse;
  width: auto !important;
  table-layout: auto;

}

:host ::ng-deep .align-to-table {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%; 
}
