::ng-deep .table-regimen-pensionario {
  width: fit-content;
  max-width: 100%;

}

::ng-deep .table-regimen-pensionario {
  border-collapse: collapse;
  width: auto !important;
  table-layout: auto;

}
