<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
    <p-panel header="Régimen Pensionario" class="mb-3">
        <!--<p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>-->
    </p-panel>
    <br />
    <div class="card">
        <!-- Botón Nuevo y Dropdown Filas por Página -->
        <div class="flex justify-content-between align-items-center mb-3">
            <button type="button" pButton icon="pi pi-plus" label="Nuevo Régimen"
                    (click)="showAddRow()" [disabled]="isEditingAnyRow"
                    class="p-button-sm"></button>
            <div class="flex align-items-center">
                <label for="rowsPerPage" class="mr-2">Filas por página:</label>
                <p-dropdown id="rowsPerPage" [options]="[10, 20, 40]" [(ngModel)]="rowsPerPage" placeholder="Seleccionar" class="p-button-sm"></p-dropdown>
            </div>
        </div>

        <!-- Tabla Principal -->
        <p-table [value]="regimenPensionarioList"
                 dataKey="pla61codigo"
                 editMode="row"
                 [paginator]="true"
                 [rows]="rowsPerPage"
                 responsiveLayout="scroll"
                 styleClass="p-datatable-sm">
            <!-- Cabecera de Tabla -->
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; width: 10%;">Código</th>
                    <th style="text-align: center; width: 15%;">Descripción</th>
                    <th style="text-align: center; width: 15%;">Tipo de Régimen Pensionario</th>
                    <th style="text-align: center; width: 10%;">AFPNet</th>
                    <th style="text-align: center; width: 15%;">Plame Descripción</th>
                    <th style="text-align: center; width: 10%;">Sector Privado</th>
                    <th style="text-align: center; width: 10%;">Sector Público</th>
                    <th style="text-align: center; width: 5%;">Activo</th>
                    <th style="text-align: center; width: 10%;">Acciones</th>
                </tr>
            </ng-template>

            <!-- Cuerpo de Tabla -->
            <ng-template pTemplate="body" let-regimen let-ri="rowIndex" let-editing="editing">
                <tr [pEditableRow]="regimen">

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="regimen.pla61codigo"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{regimen.pla61codigo}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="regimen.pla61descripcion"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{regimen.pla61descripcion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                    [(ngModel)]="regimen.pla61tiporegpensionariocod"
                                    [options]="[
                                        { label: 'Otros Regimenes Pensionarios', value: 'ORP' },
                                        { label: 'Sistema Nacional de Pensiones', value: 'SNP' },
                                        { label: 'Sistema Privado de Pensiones', value: 'SPP' }
                                    ]"
                                    placeholder="Tipo de dato"
                                    optionLabel="label"
                                    optionValue="value"
                                    class="p-inputtext-sm w-full"
                                    appendTo="body">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{getTipoDatoCodRegimenPensionario(regimen.pla61tiporegpensionariocod)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="regimen.pla61afpnetcod"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{regimen.pla61afpnetcod}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown
                                    [(ngModel)]="regimen.pla61plamecod"
                                    [options]="[
                                        { label: 'DL 19990 - SIST NAC DE PENS - ONP', value: '02' },
                                        { label: 'SPP INTEGRA', value: '21' }
                                    ]"
                                    placeholder="Planilla Electrónica"
                                    optionLabel="label"
                                    optionValue="value"
                                    class="p-inputtext-sm w-full"
                                    appendTo="body">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{getTipoDatoPlameDes(regimen.pla61plamecod)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td style="text-align: center;">
                        <p-checkbox
                        [binary]="true"
                        [ngModel]="regimen.pla61flagsectorprivado === 'S'"
                        (onChange)="onToggleFlag(regimen, 'pla61flagsectorprivado', $event.checked)"
                        [disabled]="!editing">
                      </p-checkbox>
                    </td>

                    <td style="text-align: center;">
                        <p-checkbox
                          [binary]="true"
                          [ngModel]="regimen.pla61flagsectorpublico === 'S'"
                          (onChange)="onToggleFlag(regimen, 'pla61flagsectorpublico', $event.checked)"
                          [disabled]="!editing">
                        </p-checkbox>
                    </td>

                    <td style="text-align: center;">
                        <p-checkbox
                          [binary]="true"
                          [ngModel]="regimen.pla61flagactivo === 'S'"
                          (onChange)="onToggleFlag(regimen, 'pla61flagactivo', $event.checked)"
                          [disabled]="!editing">
                        </p-checkbox>
                    </td>

                    <!-- Acciones -->
                    <td>
                        <div class="flex justify-content-center gap-2">
                            <!-- Botón Editar -->
                            <button *ngIf="!editing" pButton
                                    pInitEditableRow
                                    (click)="onRowEditInit(regimen)"
                                    icon="pi pi-pencil"
                                    pTooltip="Editar"
                                    [disabled]="isNew || isEditingAnyRow"
                                    class="p-button-rounded p-button-text p-button-sm"
                                    ></button>

                            <!-- Botón Guardar -->
                            <button *ngIf="editing" pButton
                                    pSaveEditableRow
                                    (click)="onRowEditSave(regimen)"
                                    icon="pi pi-check"
                                    pTooltip="Guardar"
                                    class="p-button-rounded p-button-text p-button-sm p-button-success"></button>

                            <!-- Botón Cancelar -->
                            <button *ngIf="editing" pButton
                                    pCancelEditableRow
                                    (click)="onRowEditCancel(regimen, ri)"
                                    icon="pi pi-times"
                                    pTooltip="Cancelar"
                                    class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                            <!-- Botón Eliminar
                            Se pasaba tambien el parametro ri en onDelete,
                            pero no es necesario ya que se puede identificar con el objeto regimen
                            -->
                            <button *ngIf="!editing" pButton
                                    type="button"
                                    (click)="onDelete(regimen)"
                                    icon="pi pi-trash"
                                    pTooltip="Eliminar"
                                    [disabled]="isNew || isEditingAnyRow"
                                    class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- Footer para Nuevo Registro -->
            <ng-template pTemplate="footer">
                <tr *ngIf="isEditing">
                    <td colspan="9">
                        <form [formGroup]="regimenPensionarioForm" class="grid p-fluid">
                            <div class="col-1" style="width: 10%;">
                                <span class="w-full">
                                    <input pInputText
                                          formControlName="pla61codigo"
                                          placeholder="Código"
                                          class="p-inputtext-sm w-full"
                                          readonly/>
                                </span>
                            </div>

                            <div class="col-1" style="width: 15%;">
                                <span class="w-full">
                                    <input pInputText
                                           formControlName="pla61descripcion"
                                           placeholder="Descripción"
                                           class="p-inputtext-sm w-full"/>
                                </span>
                            </div>

                            <div class="col-1" style="width: 15%;">
                                <span class="w-full">
                                    <p-dropdown
                                        formControlName="pla61tiporegpensionariocod"
                                        [options]="[
                                            { label: 'Otros Regimenes Pensionarios', value: 'ORP' },
                                            { label: 'Sistema Nacional de Pensiones', value: 'SNP' },
                                            { label: 'Sistema Privado de Pensiones', value: 'SPP' }
                                        ]"
                                        placeholder="Tipo de régimen"
                                        optionLabel="label"
                                        optionValue="value"
                                        class="p-inputtext-sm w-full"
                                        appendTo="body">
                                    </p-dropdown>
                                </span>
                            </div>

                            <div class="col-1" style="width: 10%;">
                                <span class="w-full">
                                    <input pInputText
                                           formControlName="pla61afpnetcod"
                                           placeholder="AFPNet"
                                           class="p-inputtext-sm w-full"/>
                                </span>
                            </div>

                            <div class="col-1" style="width: 15%;">
                                <span class="w-full">
                                    <p-dropdown
                                        formControlName="pla61plamecod"
                                        [options]="[
                                            { label: 'DL 19990 - SIST NAC DE PENS - ONP', value: '02' },
                                            { label: 'SPP INTEGRA', value: '21' }
                                        ]"
                                        placeholder="Plame"
                                        optionLabel="label"
                                        optionValue="value"
                                        class="p-inputtext-sm w-full"
                                        appendTo="body">
                                    </p-dropdown>
                                </span>
                            </div>

                            <div class="col-1" style="text-align: center; width: 10%;">
                              <p-checkbox formControlName="pla61flagsectorprivado" [binary]="true"></p-checkbox>
                            </div>

                            <div class="col-1" style="text-align: center; width: 10%;">
                              <p-checkbox formControlName="pla61flagsectorpublico" [binary]="true"></p-checkbox>
                            </div>

                            <div class="col-1" style="text-align: center; width: 5%;">
                              <p-checkbox formControlName="pla61flagactivo" [binary]="true"></p-checkbox>
                            </div>

                            <!-- Botones de Acción -->
                            <div class="col-1" style="width: 10%;">
                                <div class="flex gap-2 justify-content-center">

                                    <p-button icon="pi pi-check" styleClass="p-button-success p-button-sm" [text]="true"
                                            (onClick)="onSave()" pTooltip="Guardar"></p-button>
                                    <p-button icon="pi pi-times" styleClass="p-button-danger p-button-sm" [text]="true"
                                            (onClick)="onCancel()" pTooltip="Cancelar"></p-button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
