<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="p-1 py-5 max-h-screen">
    <p-panel header="Concepto" styleClass="shadow-xl rounded-xl mb-3">

      <div class="card">
          <!-- Botón Nuevo y Dropdown Filas por Página -->
          <div class="flex justify-content-between align-items-center mb-3">
              <button type="button" pButton icon="pi pi-plus" label="Nuevo Concepto"
                      (click)="nuevoConcepto()"
                      class="p-button-sm"></button>
          </div>

          <!-- Tabla Principal -->
          <p-table [value]="conceptoList"
                  dataKey="pla10conceptocod"
                  [paginator]="true"
                  [rows]="rowsPerPage"
                  [rowsPerPageOptions]="[5, 10, 20, 50]"
                  [showCurrentPageReport]="true"
                  responsiveLayout="scroll"
                  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} conceptos"
                  [tableStyle]="{ 'width': '1280px' }"
                  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                  class="table-concepto"
                  >

              <!-- Cabecera de Tabla -->
              <ng-template pTemplate="header">
                  <tr>
                      <th style="text-align: center; width: 10%;">Código</th>
                      <th style="text-align: center; width: 30%;">Descripción</th>
                      <th style="text-align: center; width: 15%;">TipoFlagEstandar</th>
                      <th style="text-align: center; width: 10%;">Activo</th>
                      <th style="text-align: center; width: 15%;">ConceptoTipoDesc</th>
                      <th style="text-align: center; width: 10%;">Concept.Padre</th>
                      <th style="text-align: center; width: 10%;">Acciones</th>
                  </tr>
              </ng-template>

              <!-- Cuerpo de Tabla -->
              <ng-template pTemplate="body" let-concepto>
                  <tr>
                    <td>{{concepto.pla10conceptocod}}</td>
                    <td>{{concepto.pla10conceptodesc}}</td>
                    <td>{{concepto.pla10flagestandardesc}}</td>
                    <td>{{concepto.pla10flagactivo}}</td>
                    <td>{{concepto.conceptotipodesc}}</td>
                    <td>{{concepto.pla10conceptopadrecod}}</td>

                      <!-- Acciones -->
                      <td>
                          <div class="flex justify-content-center gap-2">

                            <!-- Botón Ver Detalle -->

                            <button pButton
                                    type="button"
                                    icon="pi pi-eye"
                                    pTooltip="Ver Detalle"
                                    (click)="verConcepto(concepto)"
                                    class="p-button-rounded p-button-text p-button-sm"></button>

                              <!-- Botón de Ayuda-->

                              <button pButton
                                      type="button"
                                      icon="pi pi-question-circle"
                                      pTooltip="Ayuda"
                                      class="p-button-rounded p-button-text p-button-sm"
                                      (click)="mostrarAyuda()"></button>

                              <!-- Botón Editar -->
                              <button pButton
                                      (click)="editarConcepto(concepto)"
                                      icon="pi pi-pencil"
                                      pTooltip="Editar"
                                      class="p-button-rounded p-button-text p-button-sm"
                                      ></button>

                              <!-- Botón Eliminar -->
                              <button pButton
                                      type="button"
                                      (click)="eliminarConcepto(concepto)"
                                      icon="pi pi-trash"
                                      pTooltip="Eliminar"
                                      class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                          </div>
                      </td>
                  </tr>
              </ng-template>


          </p-table>
      </div>
    </p-panel>
</div>

<!-- Diálogo de Detalle -->
<p-dialog
  [(visible)]="displayDialog"
  [header]="'Detalle de concepto'"
  [style]="{width: '95vw', height: '90vh'}"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false">
  <form [formGroup]="conceptoForm">
    <div class="concepto-detalle">
      <!-- Ignorar advertencia de usar border -->
      <div class="border-1 border-round surface-border surface-50 p-3 mb-3">

        <!-- Código y descripción -->
        <div class="form-row flex gap-3 mb-3 align-items-center">

          <div class="form-group flex-2">
            <label>Código :</label>
            <input type="text" pInputText formControlName="pla10conceptocod"
            [disabled]="!isNewRecord || esModoVisualizacion" maxlength="10"
            class="w-full" readonly/>
          </div>

          <div class="form-group flex-1">
            <label>Descripción :</label>
            <input type="text" pInputText formControlName="pla10conceptodesc"
            [disabled]="esModoVisualizacion" maxlength="150"
            class="w-full"/>
          </div>

        </div>

        <!-- Tipos -->
        <div class="form-row flex gap-3 mb-3 align-items-center">

          <div class="form-group flex-1">
            <label>Tipo cálculo :</label>
            <div class="flex gap-2 align-items-center">
              <input type="text" pInputText formControlName="pla10tipocalculocod"
              readonly maxlength="2" style="width: 60px" />
              <input type="text" pInputText formControlName="calculotipodesc"
              readonly class="w-full"/>
              <button pButton type="button" icon="pi pi-search" class="p-button-sm"
              [disabled]="esModoVisualizacion" (click)="abrirBusquedaTipoCalculo()"></button>
            </div>
          </div>

          <div class="form-group flex-1">
            <label>Tipo :</label>
            <div class="flex gap-2 align-items-center">
              <input type="text" pInputText formControlName="pla10tipoconceptocod"
              readonly maxlength="2" style="width: 60px" />
              <input type="text" pInputText formControlName="conceptotipodesc"
              readonly class="w-full"/>
              <button pButton type="button" icon="pi pi-search" class="p-button-sm"
              [disabled]="esModoVisualizacion" (click)="abrirBusquedaConceptoTipo()"></button>
              </div>
          </div>

          <div class="form-group flex-1">
            <label>Sub Tipo :</label>
            <div class="flex gap-2 align-items-center">
              <input type="text" pInputText formControlName="pla10subtipoconceptocod"
              readonly maxlength="2" style="width: 60px" />
              <input type="text" pInputText formControlName="conceptosubtipodesc"
              readonly class="w-full"/>
              <button pButton type="button" icon="pi pi-search" class="p-button-sm"
              [disabled]="esModoVisualizacion" (click)="abrirBusquedaSubTipo()"></button>
            </div>
          </div>

        </div>

        <!-- Checkboxes -->
        <div class="flex align-items-center justify-content-between mt-2">
          <div class="flex gap-4">
            <p-checkbox formControlName="pla10flagimpresion"
            [binary]="true" label="Imprimible"
            [disabled]="esModoVisualizacion" inputId="imprimible"></p-checkbox>

            <p-checkbox formControlName="pla10flagconfigurable"
            [binary]="true" label="Config.Basica"
            [disabled]="esModoVisualizacion" inputId="configBasica"></p-checkbox>

            <p-checkbox formControlName="pla10flagclase"
            [binary]="true" label="Formulable"
            [disabled]="esModoVisualizacion" inputId="formulable"></p-checkbox>
          </div>

          <div>
            <p-checkbox formControlName="pla10flagactivo"
            [binary]="true" label="Activo"
            [disabled]="esModoVisualizacion" inputId="activo"></p-checkbox>
          </div>

        </div>

      </div>

      <!-- Text Areas -->
      <div class="flex gap-4 mb-3">
        <textarea pInputTextarea rows="8" formControlName="pla10formula" class="w-full"></textarea>
        <textarea pInputTextarea rows="8" formControlName="pla10formulaalias" class="w-full"></textarea>
      </div>

      <!-- Concepto Sunat y Observacion -->
      <div class="flex gap-4 mb-3">
        <div class="flex-1">
          <label>Concepto Sunat :</label>
          <div class="flex gap-2 align-items-center">
            <input type="text" pInputText formControlName="pla10conceptosunatcod"
              readonly style="width: 100px" />
            <input type="text" pInputText formControlName="conceptosunatdesc"
            style="flex: 1" />
            <button pButton type="button" icon="pi pi-search" class="p-button-sm"
            [disabled]="esModoVisualizacion" (click)="abrirBusquedaConceptoSunat()"></button>
          </div>
        </div>

        <div class="flex-1">
          <label>Observación</label>
          <textarea pInputTextarea rows="3" formControlName="pla10comentario"
          [disabled]="esModoVisualizacion" class="w-full"></textarea>
        </div>
      </div>

      <!-- Tablas Relacionadas -->
      <div class="grid mt-3">

        <!-- Afectaciones Sunat -->
        <div class="col-12 md:col-6 lg:col-6 xl:col-3">
          <div class="border-1 border-round surface-border surface-0 p-2 mb-0">
            <div class="mb-2 font-medium">Afectaciones Sunat</div>
            <p-table
            [value]="conceptoForm.value.afectacionesSunat"
            [scrollable]="true"
            scrollHeight="200px"
            styleClass="p-datatable-sm w-full">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%;">Código</th>
                  <th style="width: 60%;">Descripción</th>
                  <th style="text-align: center; width: 20%;">Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td class="text-center">
                    <!-- Standalone es necesario para evitar conflictos con el formulario -->
                    <p-checkbox
                    [(ngModel)]="item.valor"
                    [ngModelOptions]="{standalone: true}"
                    [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-6 xl:col-3">
          <div class="border-1 border-round surface-border surface-0 p-2 mb-0">
            <div class="mb-2 font-medium">Afectación Otros</div>
            <p-table
            [value]="conceptoForm.value.afectacionOtros"
            [scrollable]="true"
            scrollHeight="200px"
            styleClass="p-datatable-sm w-full">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%;">Código</th>
                  <th style="width: 60%;">Descripción</th>
                  <th style="text-align: center; width: 20%;">Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td class="text-center">
                    <!-- Standalone es necesario para evitar conflictos con el formulario -->
                    <p-checkbox
                    [(ngModel)]="item.valor"
                    [ngModelOptions]="{standalone: true}"
                    [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-6 xl:col-3">
          <div class="border-1 border-round surface-border surface-0 p-2 mb-0">
            <div class="mb-2 font-medium">Plantilla Asignada</div>
            <p-table
            [value]="conceptoForm.value.planillasAsignadas"
            [scrollable]="true"
            scrollHeight="200px"
            styleClass="p-datatable-sm w-full">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%;">Código</th>
                  <th style="width: 60%;">Descripción</th>
                  <th style="text-align: center; width: 20%;">Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td class="text-center">
                    <!-- Standalone es necesario para evitar conflictos con el formulario -->
                    <p-checkbox
                    [(ngModel)]="item.valor"
                    [ngModelOptions]="{standalone: true}"
                    [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-6 xl:col-3">
          <div class="border-1 border-round surface-border surface-0 p-2 mb-0">
            <div class="mb-2 font-medium">Régimen Laboral</div>
            <p-table
            [value]="conceptoForm.value.regimenesLaborales"
            [scrollable]="true"
            scrollHeight="200px"
            styleClass="p-datatable-sm w-full">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%;">Código</th>
                  <th style="width: 60%;">Descripción</th>
                  <th style="text-align: center; width: 20%;">Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td class="text-center">
                    <!-- Standalone es necesario para evitar conflictos con el formulario -->
                    <p-checkbox
                    [(ngModel)]="item.valor"
                    [ngModelOptions]="{standalone: true}"
                    [binary]="true"
                    [disabled]="esModoVisualizacion"></p-checkbox>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

      </div>

    </div>


  </form>
  <ng-template pTemplate="footer">
    <button pButton type="button" [label]="esModoVisualizacion ? 'Cerrar' : 'Cancelar'" icon="pi pi-times"
    class="p-button-secondary" (click)="cerrarConcepto()"></button>

    <button *ngIf="!esModoVisualizacion" pButton type="button" label="Guardar" icon="pi pi-check"
    class="p-button-success" (click)="guardarConcepto()"></button>

  </ng-template>

</p-dialog>

<p-dialog [(visible)]="displayTipoCalculoDialog" header="Tipo de calculo" [modal]="true"
    [style]="{width: '600px'}" [draggable]="false" [closable]="false">
    <p-table [value]="tiposCalculo" [scrollable]="true" scrollHeight="300px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarTipoCalculo(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayTipoCalculoDialog = false"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayConceptoTipoDialog" header="Concepto Tipo" [modal]="true"
    [style]="{width: '500px'}" [draggable]="false" [closable]="false">
    <p-table [value]="conceptosTipo" [scrollable]="true" scrollHeight="250px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tipo>
        <tr [pSelectableRow]="tipo" (click)="seleccionarConceptoTipo(tipo)" style="cursor: pointer">
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayConceptoTipoDialog = false"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displaySubTipoDialog" header="Subtipo de Concepto Tipo" [modal]="true"
    [style]="{width: '700px'}" [draggable]="false" [closable]="false">
    <p-table [value]="subTiposConcepto" [scrollable]="true" scrollHeight="300px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 150px">Concepto Tipo Cod.</th>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-subTipo>
        <tr [pSelectableRow]="subTipo" (click)="seleccionarSubTipo(subTipo)" style="cursor: pointer">
          <td>{{ subTipo.conceptoTipoCod }}</td>
          <td>{{ subTipo.codigo }}</td>
          <td>{{ subTipo.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displaySubTipoDialog = false"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayConceptoSunatDialog" header="Concepto Sunat" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false">
    <p-table [value]="conceptosSunat" [scrollable]="true" scrollHeight="350px" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 120px">CodigoSunat</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-concepto>
        <tr [pSelectableRow]="concepto" (click)="seleccionarConceptoSunat(concepto)" style="cursor: pointer">
          <td>{{ concepto.codigoSunat }}</td>
          <td>{{ concepto.descripcion }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="displayConceptoSunatDialog = false"></button>
    </ng-template>
</p-dialog>

<!-- Modal Conceptos estandar -->

<p-dialog [(visible)]="displayConceptosEstandarDialog" [header]="'Búsqueda de Conceptos Estándar'" [modal]="true"
    [style]="{width: '800px'}" [draggable]="false" [closable]="false" [resizable]="false">
  <p-table [value]="conceptosEstandar" [scrollable]="true" scrollHeight="350px" selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30%;">Código</th>
        <th style="width: 70%;">Descripción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-concepto>
      <tr [pSelectableRow]="concepto" (click)="seleccionarConceptoEstandar(concepto)" style="cursor: pointer">
        <td>{{ concepto.codigo }}</td>
        <td>{{ concepto.descripcion }}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
      (click)="displayConceptosEstandarDialog = false"></button>
  </ng-template>
</p-dialog>
